
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Покупка книги";
}


<div>
    <h3>&copy;Форма оформления покупки</h3>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
       @* <input type="hidden" value="@ViewBag.BookId" name="BookId" />*@
        @Html.Hidden("BookId",ViewBag.BookId as string)
        <table>
            <tr>
                <td>
                    <p>@Html.Label("Person", "Введите свое имя")</p>
                </td>
                <td>
                    @Html.TextBox("Person", "")
                </td>
            </tr>
            <tr>
                <td>
                    <p>@Html.Label("Phone", "Введите свой номер телефона") </p>
                </td>
                <td>
                    @Html.TextBox("Phone", "")
                </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    }
    
</div>

